<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is Home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam fugit molestiae nemo iusto sed temporibus non ratione quia aliquid consequuntur blanditiis veritatis rem reprehenderit alias porro est magnam, dicta illo.
    Perspiciatis quam adipisci, ullam aperiam quo repellat at molestias, fugit ab odit expedita itaque consequuntur necessitatibus harum atque, architecto eius voluptatibus aliquam tempora ex! Dolore sunt sapiente ullam magnam provident.</p>
        <button>Click Me!</button>

        
</body>
</html>