body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
}
.InfoBox {
    width: 425px; 
    height: auto; 
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(235, 237, 239);
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 20px; 
}
